
.sk-color-1 {
	color: #558ee9 !important;
}

.sk-color-2 {
	color: #f8a13e !important;
}

.sk-btn-white {
	border-radius: 35px;
	border: solid 1px #ffffff;
	background: #ffffff;
	color: #6a6f89;
	text-decoration: none;
	padding: 12px 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 10px;
	opacity: .9;
	transition: all .4s ease-in-out;
}

.sk-btn-white:hover {
	background: #ffff;
	color: #6a6f89;
}

.slider {
	background: #585CE9;
}

.header-classic {
	background: #585CE9;
}

.sk-back-to-top {
	background: #5e72e4;
	border: 1px solid #5e72e4;
	padding: 12px 40px;
	font-size: 15px;
	font-weight: 400;
	border-radius: 35px;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	margin-top: 30px;
	transition: all .3s ease-in-out;
}

.sk-back-to-top:hover {
	color: #5e72e4;
	background: transparent;
	border: 1px solid #5e72e4;
}

.sk-back-to-details {
	background: #ff5777;
	border-radius: 35px;
	padding: 10px 40px;
	margin-right: 20px;
    color: #ffffff;
	font-weight: 600;
	font-size: 16px;
	transition: all .3s ease-in-out;
	text-decoration: none;
	border: 1px solid #ff5777;
	display: inline-block;
}
.sk-back-to-details:hover {
	background: transparent;
	border: 1px solid #ff5777;
	color: #ff5777;
}

/*--------------------------------------------------
[4. Start Integration]
--------------------------------------------------*/
.integration {
    background: #fbfafa;
    padding: 120px 0 90px 0;
}
.integration .heading {
	margin-bottom: 50px;
}
.integration .heading h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 10px;
}
.integration .heading p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}
.integration .box {
    background: #ffffff;
    padding: 50px 40px;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.06);
	margin-bottom: 30px;
}
.integration .box img {
    width: 90px;
}
.integration .box h3 {
    font-size: 20px;
    font-weight: 600;
    color: #5a5e74;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 15px;
}
.integration .box p {
    font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}
p {
	font-family: 'Open Sans', sans-serif;
	color: #797c8f;
}
table tr td  {
	font-family: 'Open Sans', sans-serif;
}
.sk-creative {
	background: #ffffff;
}

/*--------------------------------------------------
[3. Start Creative]
--------------------------------------------------*/
.sk-creative {
	padding: 120px 0;
	background: #ffffff;
}

.sk-creative .text h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 20px;
}

.sk-creative .text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}
/*
table tr td  {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

a .app-btn-red {
	background: #ff5777;
	border-radius: 35px;
	padding: 10px 40px;
    color: #ffffff;
	font-weight: 600;
	font-size: 16px;
	transition: all .3s ease-in-out;
	text-decoration: none;
	border: 1px solid #ff5777;
	display: inline-block;
}


.features span {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
	display: inline-block;
	margin-bottom: 10px;
}

.features h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 15px;
}

.features p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}
*/