<ul class="navbar-nav ml-auto mt-2 mt-lg-0 mr-3">
                                    
    <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a
            class="nav-link dropdown-toggle"
            href="#"
            id="menu-1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            Getting Started
        </a>
        <ul class="dropdown-menu" aria-labelledby="menu-1">
            <li><a class="dropdown-item" href="start/overview">Overview</a></li>
            <li><a class="dropdown-item" href="start/hello_world">Hello World</a></li>
            <li><a class="dropdown-item" href="start/generators">Generators</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a
            class="nav-link dropdown-toggle"
            href="#"
            id="menu-1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            Architecture Components
        </a>
        <ul class="dropdown-menu" aria-labelledby="menu-1">
            <li><a class="dropdown-item" href="arch/overview">Overview</a></li>
            <li><a class="dropdown-item" href="">-------------------</a></li>
            <li><a class="dropdown-item" href="arch/results">Results</a></li>
            <li><a class="dropdown-item" href="arch/context">Context</a></li>
            <li><a class="dropdown-item" href="">-------------------</a></li>
            <li><a class="dropdown-item" href="arch/app">App</a></li>
            <li><a class="dropdown-item" href="arch/apis">API</a></li>
            <li><a class="dropdown-item" href="arch/cli">CLI</a></li>
            <li><a class="dropdown-item" href="arch/jobs">Jobs</a></li>
            <li><a class="dropdown-item" href="">-------------------</a></li>
            <li><a class="dropdown-item" href="arch/overview">More...</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="utils/overview">Utilities</a>
    </li>
    <!--
    <li class="nav-item dropdown">
        <a
            class="nav-link dropdown-toggle"
            href="#"
            id="menu-1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            Utilities
        </a>
        <ul class="dropdown-menu" aria-labelledby="menu-1">
            <li><a class="dropdown-item" href="utils/overview">Overview</a></li>
            <li><a class="dropdown-item" href="utils/args">Args</a></li>
            <li><a class="dropdown-item" href="utils/auth">Auth</a></li>
            <li><a class="dropdown-item" href="utils/config">Config</a></li>
            <li><a class="dropdown-item" href="utils/console">Console</a></li>
            <li><a class="dropdown-item" href="utils/dbutils">DB Utils</a></li>
            <li><a class="dropdown-item" href="utils/datetime">DateTime</a></li>
            <li><a class="dropdown-item" href="utils/encrypt">Encrypt</a></li>
            <li><a class="dropdown-item" href="utils/env">Env</a></li>
            <li><a class="dropdown-item" href="utils/ext">Extensions</a></li>
            <li><a class="dropdown-item" href="utils/folders">Folders</a></li>
            <li><a class="dropdown-item" href="utils/identity">Identity</a></li>
            <li><a class="dropdown-item" href="utils/lex">Lex</a></li>
            <li><a class="dropdown-item" href="utils/paging">Paging</a></li>
            <li><a class="dropdown-item" href="utils/request">Request</a></li>
            <li><a class="dropdown-item" href="utils/reflect">Reflect</a></li>
            <li><a class="dropdown-item" href="utils/smartstrings">SmartStrings</a></li>
            <li><a class="dropdown-item" href="utils/templates">Templates</a></li>
            <li><a class="dropdown-item" href="utils/validations">Validations</a></li>
        </ul>
    </li>
    -->
    <li class="nav-item dropdown">
        <a
            class="nav-link dropdown-toggle"
            href="#"
            id="menu-1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            More
        </a>
        <ul class="dropdown-menu" aria-labelledby="menu-1">
            <li><a class="dropdown-item" href="https://github.com/code-helix/slatekit/releases">Releases</a></li>
            <li><a class="dropdown-item" href="info/standards">Standards</a></li>
            <li><a class="dropdown-item" href="info/contact">Contact</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://github.com/code-helix/slatekit">Github</a>
    </li>
</ul>