<table class="table table-bordered">
  <tr>
    <td ><strong>Component</strong></td>
    <td ><strong>Docs</strong></td>
    <td ><strong>Source</strong></td>
    <td ><strong>Description</strong></td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/target.png" width="50" alt=""></td>
    <td><strong><a class="url-ch" href="kotlin-core-app.html">Results</a></strong></td>
    <td><strong><a class="url-ch" href="https://github.com/code-helix/slatekit/tree/master/src/lib/kotlin/slatekit-common">slatekit-results</a></strong></td>
    <td>Models successes and failures with optional status codes</td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/multitool.png" width="50" alt=""></td>
    <td><strong><a class="url-ch" href="utils.html">Common</a></strong></td>
    <td><strong><a class="url-ch" href="https://github.com/code-helix/slatekit/tree/master/src/lib/kotlin/slatekit-common">slatekit-common</a></strong></td>
    <td>General purpose utility components to extend the standard library</td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/desktop.png" width="50" alt=""></td>
    <td><strong><a class="url-ch" href="kotlin-core-app.html">App</a></strong></td>
    <td><strong><a class="url-ch" href="https://github.com/code-helix/slatekit/tree/master/src/lib/kotlin/slatekit-common">slatekit-app</a></strong></td>
    <td>An app template with support for args, envs, logs, configs, help and more</td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/webapi.png" width="50" alt=""></td>
    <td><strong><a class="url-ch" href="kotlin-core-apis.html">API</a></strong></td>
    <td><strong><a class="url-ch" href="https://github.com/code-helix/slatekit/tree/master/src/lib/kotlin/slatekit-common">slatekit-apis</a></strong></td>
    <td>Components for building Univeral APIS that can run on the CLI and Web</td>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/terminal.png" width="50" alt=""></td>
    <td><strong><a class="url-ch" href="kotlin-mod-shell.html">CLI</a></strong></td>
    <td><strong><a class="url-ch" href="https://github.com/code-helix/slatekit/tree/master/src/lib/kotlin/slatekit-common">slatekit-cli</a></strong></td>
    <td>A base template to build command line interaces for accessing your components</td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/cloud_sync.png" width="50" alt=""></td>
    <td><strong><a class="url-ch" href="kotlin-mod-shell.html">Cloud</a></strong></td>
    <td><strong><a class="url-ch" href="https://github.com/code-helix/slatekit/tree/master/src/lib/kotlin/slatekit-common">slatekit-cloud</a></strong></td>
    <td>A base template to build command line interaces for accessing your components</td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/gears.png" width="50" alt=""></td>
    <td><strong><a class="url-ch" href="kotlin-mod-jobs.html">Jobs</a></strong></td>
    <td><strong><a class="url-ch" href="https://github.com/code-helix/slatekit/tree/master/src/lib/kotlin/slatekit-common">slatekit-jobs</a></strong></td>
    <td>A base template to build command line interaces for accessing your components</td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/layers.png" width="50" alt=""></td>
    <td><strong><a class="url-ch" href="kotlin-core-orm.html">Entities</a></strong></td>
    <td><strong><a class="url-ch" href="https://github.com/code-helix/slatekit/tree/master/src/lib/kotlin/slatekit-common">slatekit-entities</a></strong></td>
    <td>Light-weight ORM with a DDD/Entity Services approach </td>
  </tr>
  <tr>
    <td class="text-center"><img src="assets/media/img/white/server.png" width="50" alt=""></td>
    <td><strong><a class="url-ch" href="kotlin-core-server.html">Server</a></strong></td>
    <td><strong><a class="url-ch" href="https://github.com/code-helix/slatekit/tree/master/src/lib/kotlin/slatekit-common">slatekit-server</a></strong></td>
    <td>General purpose utility components to extend the standard library</td>
  </tr>
</table>