<table class="table table-bordered">
    <tr>
        <td><strong>1</strong></td>
        <td><strong>Docs</strong></td>
        <td><img src="assets/media/img/white/manual.png" width="50" alt=""></td>
        <td> For Utils check <a class="url-ch" href="http://www.slatekit.com/utils/overview/">Utils</a>
            For Architecture components check <a class="url-ch" href="http://www.slatekit.com/core/overview/">Core</a>
            Simply click on any icon/component for docs/code/links/examples.</td>
    </tr>
    <tr>
        <td><strong>2</strong></td>
        <td><strong>Sources</strong></td>
        <td><img src="assets/media/img/white/text.png" width="50" alt=""></td>
        <td> All source code for the modules is available here: <a class="url-ch" href="https://github.com/code-helix/slatekit/tree/master/src/lib/kotlin">Modules</a> </td>
    </tr>
    <tr>
        <td><strong>3</strong></td>
        <td><strong>Samples</strong></td>
        <td><img src="assets/media/img/white/desktop.png" width="50" alt=""></td>
        <td><a class="url-ch" href="https://github.com/code-helix/slatekit/tree/master/src/apps/kotlin/slatekit-sampleapps">1. Sample Apps</a><br/> 
            <a class="url-ch" href="https://github.com/code-helix/slatekit/tree/master/src/lib/kotlin/slatekit-examples/src/main/kotlin/slatekit/examples">2. Examples of component usage</a></td>
    </tr>
    <tr>
        <td><strong>4</strong></td>
        <td><strong>Contact us</strong></td>
        <td><img src="assets/media/img/white/email.png" width="50" alt=""></td>
        <td>Support services and more offerings coming soon</td>
    </tr>
</table>