/* ----------------------------------

Name: main.css
Version: 1.0

-------------------------------------

Table of contents
        
    01. Navbar
    02. Slider
    03. Features
    04. Creative
    05. Price
    06. Team
    07. Testimonals
    08. Links
    09. Footer
    10. Loading
    11. Media Query
    
*/

body {
	font-family: 'Dosis', sans-serif;
	height: 3000px;

}

/*--------------------------------------------------
[1. Start Navbar]
--------------------------------------------------*/
/*--- btn default --*/
.btn-brand {
	background: #ff4954;
	border-radius: 35px;
	padding: 10px 40px;
	color: #ffffff;
	font-weight: 600;
	font-size: 16px;
	transition: all .3s ease-in-out;
}

.btn-brand:hover {
	color: #ff4954;
	background-color: transparent;
	border-color: #ff4954;
}

.btn-brand.focus,
.btn-brand:focus {
	color: #fff;
	background-color: #ff4954;
	border-color: #ff4954;
	box-shadow: none;
}

/*----------------- Headers ---------------------------------*/
.header-classic {
	transition: all .3s ease-in-out;
	background: #fbfafa;
}

.navbar-classic .navbar-nav .nav-item .nav-link {
	font-size: 16px;
	font-weight: 500;
	color: #5a5e74;
	padding: 12px 20px;
	line-height: 20px;
	transition: ALL .4S ease-in-out;
}

.navbar-classic .navbar-nav .nav-item .nav-link:hover.dropdown-toggle::after {
	color: #9d9ea3;
}

.navbar-classic.navbar {
	padding: 18px 0px;
}

.navbar-classic .dropdown-toggle::after {
	margin-top: 1px;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 6px;
	vertical-align: -2px;
	content: "\f107";
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	color: #7b7f94;
	font-family: 'Font Awesome\ 5 Free';
	font-weight: 900;
	margin-right: 15px;
	font-size: 13px;
}

.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-item {
	border-bottom: 1px solid #b6b7b8;
	border-radius: 0px;
}

a.navbar-brand {
	display: inline-block;
	margin-right: initial;
	line-height: inherit;
	white-space: nowrap;
	color: #6e6e78;
	font-size: 24px;
	padding: 0;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 16rem;
	padding: 12px;
	margin: 18px 0px;
	font-size: 1rem;
	color: #9495a5;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 2px;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 15px 15px;
	clear: both;
	font-weight: 500;
	color: #6e6e78;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-size: 16px;
	line-height: 15px;
	transition: all .3s ease-in-out;
}

.dropdown-item:focus,
.dropdown-item:hover {
	text-decoration: none;
	background-color: #ffff;
	border-radius: 4px;
}

.dropdown-item:focus .dropdown-toggle::after,
.dropdown-item:hover.dropdown-toggle::after {
	color: #5a5e74;
}

@media(min-width:992px) {
	.dropdown .dropdown-menu {
		display: block;
		visibility: hidden;
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
		-webkit-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in
	}

	.dropdown:hover>.dropdown-menu {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}

	.dropdown-submenu:hover .dropdown-menu {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 17px;
	top: 25px;
}

.dropdown-submenu .dropdown-menu {
	top: 0px;
	left: 100%;
	margin-left: 13px;
	margin-right: .1rem;
}

.caret-up {
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid;
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
}

.mega-dropdown {
	position: unset;
}

.mega-dropdown-menu {
	width: 100%;
	position: absolute;
	top: 63px;
	margin: 15px 0px;
}

.mega-dropdown-menu ul {
	list-style: none;
}

.nav-dropitem-arrow {
	position: relative;
	font-size: 12px;
	opacity: 0;
	padding-right: 10px;
}

.nav-dropitem-arrow i {
	position: absolute;
	/* top: -1px;
	*/
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: #ff4954;
	text-decoration: none;
	background-color: #ffff;
	border-radius: 4px;
}

.dropdown-item:hover .nav-dropitem-arrow {
	color: #ff4954;
	opacity: 1;
	margin-right: 5px;
}

.navbar-classic .navbar-toggler,
.navbar-boxed .navbar-toggler {
	padding: 17px 15px;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid #5a5e74;
	border-radius: .25rem;
	position: relative;
}

/* mobile menu css */
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}

.navbar-classic .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #bababb;
}

.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}

.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}

.navbar-boxed .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #dbdbdb;
}

.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}

.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}

.navbar-transparent .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #c5c5c5;
}

.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}

.icon-bar {
	width: 21px;
	height: 3px;
	background-color: #848694;
	display: block;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler:focus {
	outline: 0px;
}

.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 190%;
	background-color: #848694;
}

.navbar-toggler .middle-bar {
	opacity: 0;
}

.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% -80%;
	background-color: #848694;
}

.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
	background-color: #848694;
}

.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
	background-color: #848694;
}

.navbar-classic .navbar-toggler,
.navbar-boxed .navbar-toggler {
	border: 1px solid #8e91a3;
}


/*--------------------------------------------------
[2. Start Slider]
--------------------------------------------------*/
.slider {
	height: 100vh;
	background: #fbfafa;
}

.slider .text h1 {
	font-size: 50px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 20px;
}

.slider .text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

.slider .text .btn-color {
	border-radius: 35px;
	border: solid 1px #0acf8b;
	background: #0acf8b;
	color: #ffffff;
	text-decoration: none;
	padding: 12px 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 30px;
	opacity: .9;
	transition: all .4s ease-in-out;
}

.slider .text .btn-green:hover {
	border: solid 1px #5a5e74;
	color: #5a5e74;
	background: transparent;
}

/*--------------------------------------------------
[3. Start Features]
--------------------------------------------------*/
.features {
	padding: 120px 0;
}

.features .heading {
	margin-bottom: 50px;
}

.features .heading h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 10px;
}

.features .heading p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

.features .box p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

.features .box h3 {
	font-size: 22px;
	color: #5f6277;
	margin: 0;
	font-weight: 500;
	margin-top: 15px;
	margin-bottom: 10px;
}


/*--------------------------------------------------
[4. Start Creative]
--------------------------------------------------*/
.creative {
	padding: 120px 0;
	background: #f8f9f9;
}

.creative .text h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 20px;
}

.creative .text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

/*--------------------------------------------------
[5. Start Price]
--------------------------------------------------*/
.price {
	padding: 120px 0;
}

.price .heading {
	margin-bottom: 50px;
}

.price .heading h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 10px;
}

.price .heading p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

.price .box {
	background: #ffffff;
	box-shadow: 1px 9px 20px 0px rgba(0, 0, 0, 0.1);
}

.price .box span {
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin: 0;
	color: #8b8fa1;
}

.price .box .head h3 {
	font-size: 60px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #5a5e74;
	margin-bottom: 5px;
}

.price .box .head h4 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #a4a8b8;
}

.price .box .head {
	border-bottom: 1px solid #eeeeee;
	padding: 25px 0;
}

.price .box ul {
	margin: 0;
	padding: 0;
	padding: 30px 0;
}

.price .box ul li {
	list-style: none;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 0;
	color: #71758a;
}

.price .box .footer a {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.price .box .color-1 {
	background: #6badf8 !important;
}

.price .box .color-2 {
	background: #f3575e !important;
}

.price .box .color-3 {
	background: #eeb54c !important;
}

/*--------------------------------------------------
[6. Start Our Team]
--------------------------------------------------*/
.team {
	padding: 120px 0;
	background: #f8f9f9;
}

.team .heading {
	margin-bottom: 50px;
}

.team .heading h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 10px;
}

.team .heading p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

.team .box {
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.06);
	transition: all .4s ease-in-out;
	background: #ffffff;
}

.team .box img {
	width: 100%;
}

.team .box .info {
	padding: 20px 0;
	border-bottom: 1px solid #eeeeee;
}

.team .box .info h3 {
	font-size: 20px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
}

.team .box .info span {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
	display: inline-block;
}

.team .box .social {
	padding: 20px 0;
}

.team .box .social a {
	display: inline-block;
	text-decoration: none;
	margin: 0 10px;
	color: #989bad;
	font-size: 20px;
}

.team .box .social a:hover {
	color: #ff4954;
	transition: all .4s ease-in-out;
}

.team .box:hover {
	box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.09);
	transform: translateY(-10px);
}


/*--------------------------------------------------
[7. Start Testimonals]
--------------------------------------------------*/
.testimonials {
	padding: 90px 0;
}

.testimonials .box {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
	padding: 40px;
	margin: 20px;
	border-radius: 5px;
	text-align: center;
	background: #ffffff;
}

.testimonials .box .stars i {
	font-size: 13px;
	color: #fcc651;
}

.testimonials .box p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
	margin-top: 10px;
	margin-bottom: 15px;
}

.testimonials .box h2 {
	font-size: 18px;
	font-weight: 500;
	color: #5a5e74;
	margin: 0;
}

.testimonials .box span {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 27px;
	color: #9295a5;
	opacity: .85;
	margin-bottom: 0;
}

/*--------------------------------------------------
[8. Start Links]
--------------------------------------------------*/
.links {
	padding: 30px 0;
	background: #ffffff;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	background: #f8f9f9;
}

.links a {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-size: 14px;
	color: #797c8f;
	margin: 0 10px;
	transition: all .4s ease-in-out;
	font-weight: 300;
}

.links a:hover {
	color: #ff4954;
}



/*--------------------------------------------------
[9. Start Footer]
--------------------------------------------------*/
.footer {
	background: #f8f9f9;
	padding: 20px;
}

.footer p {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	color: #797c8f;
}

/*--------------------------------------------------
[10. Start Page Loading]
--------------------------------------------------*/
.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.se-pre-con {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../img/loader/1.gif") center no-repeat #fff;
}

/*--------------------------------------------------
[11. Start Media Query]
--------------------------------------------------*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.navbar-classic .navbar-nav .nav-item .nav-link {
		padding: 20px 0;
	}

	.btn-brand {
		margin-top: 20px;
	}

	.header-classic {
		border-bottom: 1px solid #e0e0e0 !important;
		padding: 5px;
	}

	.slider {
		height: auto;
		text-align: center;
		padding-top: 250px;
		padding-bottom: 200px;
	}

	.slider .text {
		margin-bottom: 40px;
	}

	.creative {
		text-align: center;
	}

	.creative .text {
		margin-bottom: 40px;
	}

	.price {
		padding-bottom: 90px;
	}

	.price .box {
		margin-bottom: 30px;
	}

	.team {
		padding-bottom: 90px;
	}

	.team .box {
		margin-bottom: 30px;
	}
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
	.navbar-classic .navbar-nav .nav-item .nav-link {
		padding: 20px 0;
	}

	.btn-brand {
		margin-top: 20px;
	}

	.header-classic {
		border-bottom: 1px solid #e0e0e0 !important;
		padding: 5px;
	}

	.slider {
		height: auto;
		text-align: center;
		padding-top: 250px;
		padding-bottom: 200px;
	}

	.slider .text {
		margin-bottom: 40px;
	}

	.creative {
		text-align: center;
	}

	.creative .text {
		margin-bottom: 40px;
	}

	.price {
		padding-bottom: 90px;
	}

	.price .box {
		margin-bottom: 30px;
	}

	.team {
		padding-bottom: 90px;
	}

	.team .box {
		margin-bottom: 30px;
	}
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
	.navbar-classic .navbar-nav .nav-item .nav-link {
		padding: 20px 0;
	}

	.btn-brand {
		margin-top: 20px;
	}

	.header-classic {
		border-bottom: 1px solid #e0e0e0 !important;
		padding: 5px;
	}

	.slider {
		height: auto;
		text-align: center;
		padding-top: 250px;
		padding-bottom: 200px;
	}

	.slider .text {
		margin-bottom: 40px;
	}

	.creative {
		text-align: center;
	}

	.creative .text {
		margin-bottom: 40px;
	}

	.price {
		padding-bottom: 90px;
	}

	.price .box {
		margin-bottom: 30px;
	}

	.team {
		padding-bottom: 90px;
	}

	.team .box {
		margin-bottom: 30px;
	}
}