/* ----------------------------------

Name: main.css
Version: 1.0

-------------------------------------

Table of contents
        
    01. Navbar
    02. Slider
    03. About
    04. Best
    05. Digital
    06. Features
    07. Some facts
    08. Clients
    09. Links
    10. Footer
	11. Loading
	12. Media Query
    
*/

body {
	font-family: 'Dosis', sans-serif;
	height: 3000px;

}
@font-face {
	font-family: 'MobiriseIcons';
	src:  url('../fonts/Mobirise.eot?5dqoim');
	src:  url('../fonts/Mobirise.eot?5dqoim#iefix') format('embedded-opentype'),
	  url('../fonts/Mobirise.ttf?5dqoim') format('truetype'),
	  url('../fonts/Mobirise.woff?5dqoim') format('woff'),
	  url('../fonts/Mobirise.svg?5dqoim#MobiriseIcons') format('svg');
	font-weight: normal;
	font-style: normal;
  }

/*--------------------------------------------------
[1. Start Navbar]
--------------------------------------------------*/
/*--- btn default --*/
.btn-brand {
    background: #ffffff;
    border-radius: 35px;
    padding: 10px 40px;
    color: #6a6f89;
	font-weight: 600;
	font-size: 16px;
    transition: all .3s ease-in-out;
}
.btn-brand:hover {
	color: #fff;
	background-color: #5e72e4;
	border-color: #ffffff;
}
.btn-brand.focus, .btn-brand:focus {
	color: #fff;
	background-color: #ffffff;
	border-color: #ffffff;
	box-shadow: none;
}
/*----------------- Headers ---------------------------------*/
.header-classic {
	transition: all .3s ease-in-out;
	background: #5e72e4;
}

.navbar-classic .navbar-nav .nav-item .nav-link {
	font-size: 16px;
    font-weight: 500;
    color: #ffffff;
	padding: 12px 20px;
    line-height: 20px;
    transition: ALL .4S ease-in-out;
}
.navbar-classic .navbar-nav .nav-item .nav-link:hover.dropdown-toggle::after {
	color: #dbd9d9;
}
.navbar-classic.navbar {
	padding: 18px 0px;
}
.navbar-classic .dropdown-toggle::after {
	margin-top: 1px;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 6px;
	vertical-align: -2px;
	content: "\f107";
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	color: #cecbcb;
	font-family: 'Font Awesome\ 5 Free';
	font-weight: 900;
	margin-right: 15px;
	font-size: 13px;
}
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-item {
	border-bottom: 1px solid #f1f1f6;
	border-radius: 0px;
}
a.navbar-brand {
	display: inline-block;
	margin-right: initial;
	line-height: inherit;
	white-space: nowrap;
	color:#6e6e78;
    font-size:24px;
    padding: 0;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 16rem;
	padding: 12px;
	margin: 18px 0px;
	font-size: 1rem;
	color: #808294;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 2px;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
}
.dropdown-item {
	display: block;
	width: 100%;
	padding: 15px 15px;
	clear: both;
	font-weight: 500;
	color: #6e6e78;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-size: 16px;
    line-height: 15px;
    transition: all .3s ease-in-out;
}
.dropdown-item:focus, .dropdown-item:hover {
	text-decoration: none;
	background-color: #ffff;
	border-radius: 4px;
}
.dropdown-item:focus .dropdown-toggle::after, .dropdown-item:hover.dropdown-toggle::after {
	color: #dad8d8;
}
@media(min-width:992px) {
	.dropdown .dropdown-menu {
		display: block;
		visibility: hidden;
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
		-webkit-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in 
}
	.dropdown:hover>.dropdown-menu {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}
	.dropdown-submenu:hover .dropdown-menu {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 17px;
	top: 25px;
}
.dropdown-submenu .dropdown-menu {
	top: 0px;
	left: 100%;
	margin-left: 13px;
	margin-right: .1rem;
}
.caret-up {
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid;
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
}
.mega-dropdown {
	position: unset;
}
.mega-dropdown-menu {
	width: 100%;
	position: absolute;
	top: 63px;
	margin: 15px 0px;
}
.mega-dropdown-menu ul {
	list-style: none;
}
.nav-dropitem-arrow {
	position: relative;
	font-size: 12px;
	opacity: 0;
	padding-right: 10px;
}
.nav-dropitem-arrow i {
	position: absolute;
	/* top: -1px;
	*/
}
.dropdown-item:focus, .dropdown-item:hover {
	color: #5e72e4;
	text-decoration: none;
	background-color: #ffff;
	border-radius: 4px;
}
.dropdown-item:hover .nav-dropitem-arrow {
	color: #5e72e4;
	opacity: 1;
	margin-right: 5px;
}
.navbar-classic .navbar-toggler, .navbar-boxed .navbar-toggler {
	padding: 17px 15px;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid #c3b6e0;
	border-radius: .25rem;
	position: relative;
}
/* mobile menu css */
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}
.navbar-classic .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #6b7ff0;
}
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}
.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}
.navbar-boxed .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #f1f1f6;
}
.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}
.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}
.navbar-transparent .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #5e72e4;
}
.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}
.icon-bar {
	width: 21px;
	height: 3px;
	background-color: #ffffff;
	display: block;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	margin-top: 4px 
}
.navbar-toggler:focus {
	outline: 0px;
}
.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 190%;
	background-color: #ffffff;
}
.navbar-toggler .middle-bar {
	opacity: 0;
}
.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% -80%;
	background-color: #ffffff;
}
.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
	background-color: #ffffff;
}
.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
	background-color: #ffffff;
}

/*--------------------------------------------------
[2. Start Slider]
--------------------------------------------------*/
.slider {
	background: #5e72e4;
	height: 100vh;
}

.slider .content h1 {
	margin: 0;
	font-size: 55px;
	font-weight: 500;
	color: #ffffff;
}
.slider .content p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #ffffff;
	opacity: .85;
	line-height: 28px;
	margin-top: 20px;
}

.slider .content .btn-border {
	border-radius: 35px;
	border: solid 1px #ffffff;
	background: transparent;
	color: #ffffff;
	text-decoration: none;
	padding: 12px 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 20px;
	opacity: .9;
	transition: all .4s ease-in-out;
}
.slider .content .btn-border:hover {
	background: #ffff;
	color: #6a6f89;
}


/*--------------------------------------------------
[3. Start About]
--------------------------------------------------*/
.about {
	padding: 120px 0;
}
.about .box {
	padding: 0 40px;
}
.about span {
	font-size: 50px;
	display: inline-block;
}
.about .span-1 {
	color: #ff5777 !important;
}
.about .span-2 {
	color: #91c94f !important;
}
.about .span-3 {
	color: #feac0f !important;
}
.about h3 {
	font-size: 22px;
	font-weight: 500;
	color: #5a5e74;
	margin-top: 15px;
}
.about p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #797c8f;
	margin: 0;
	margin-top: 15px;
}

/*--------------------------------------------------
[4. Start Best]
--------------------------------------------------*/
.best {
	padding: 120px 0;
	background: #5e72e4;
}
.best .text h2 {
	font-size: 30px;
	font-weight: 600;
	color: #ffffff;
	margin: 0;
	margin-bottom: 20px;
}
.best .text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 27px;
	color: #ffffff;
	opacity: .85;
	margin-bottom: 0;
	margin-bottom: 25px;
}
.best .text .btn-white {
	background: #ffffff;
	border-radius: 35px;
	padding: 10px 40px;
    color: #6a6f89;
	font-weight: 600;
	font-size: 16px;
	transition: all .3s ease-in-out;
	text-decoration: none;
	border: 1px solid #ffffff;
	display: inline-block;
}
.best .text .btn-white:hover {
	background: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
}

/*--------------------------------------------------
[5. Start Digital]
--------------------------------------------------*/
.digital {
	padding: 120px 0;
	background: #f8f9f9;
}
.digital .text {
	padding-left: 30px;
}
.digital .text h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 20px;
}
.digital .text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
	margin-bottom: 25px;
}
.digital .text .btn-white {
	background: #5e72e4;
	border-radius: 35px;
	padding: 10px 40px;
    color: #ffffff;
	font-weight: 600;
	font-size: 16px;
	transition: all .3s ease-in-out;
	text-decoration: none;
	border: 1px solid #5e72e4;
	display: inline-block;
}
.digital .text .btn-white:hover {
	background: transparent;
	border: 1px solid #5e72e4;
	color: #5e72e4;
}
.digital .image {
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
}

/*--------------------------------------------------
[6. Start Features]
--------------------------------------------------*/
.features {
	padding: 120px 0 90px 0;
}
.features .heading {
	margin-bottom: 50px;
}
.features .heading h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 10px;
}
.features .heading p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}
.features .box {
	background: #ffffff;
	border: 1px solid #f1f2f3;
	padding: 40px;
	margin-bottom: 30px;
	transition: all .4s ease-in-out;
}
.features .box:hover {
	box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.06);
}
.features .box span {
	font-size: 40px;
	color: #9a999c;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.features .box h3 {
	font-size: 18px;
	color: #797c8f;
	margin: 0;
	margin-top: 15px;
	padding: 0;
}

/*--------------------------------------------------
[7. Start Some facts]
--------------------------------------------------*/
.some-facts {
	padding: 120px 0;
	background: #f8f9f9;
}
.some-facts .heading {
	margin-bottom: 50px;
}
.some-facts .heading h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 10px;
}
.some-facts .heading p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}
.some-facts .box h3 {
	font-size: 40px;
	font-weight: 600;
	margin: 0;
}
.some-facts .num-1 {
	color: #0cbb7f;
}
.some-facts .num-2 {
	color: #feac0f;
}
.some-facts .num-3 {
	color: #ff5777;
}
.some-facts .num-4 {
	color: #5e72e4;
}
.some-facts .box h4 {
	font-size: 18px;
	font-weight: 500;
	color: #797c8f;
	margin: 0;
	margin-top: 10px;
}

/*--------------------------------------------------
[8. Start Clients]
--------------------------------------------------*/
.clients {
	padding: 60px 0;
}
.clients .owl-carousel img {
	width: 90px;
	margin: 0 auto;
}

/*--------------------------------------------------
[9. Start Links]
--------------------------------------------------*/
.links {
	padding: 30px 0;
	background: #f8f9f9;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}
.links a {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-size: 14px;
	color: #797c8f;
	margin: 0 10px;
	transition: all .4s ease-in-out;
	font-weight: 300;
}
.links a:hover {
	color: #5e72e4;
}

/*--------------------------------------------------
[10. Start Footer]
--------------------------------------------------*/
.footer {
	background: #f8f9f9;
	padding: 20px;
}
.footer p {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	color: #797c8f;
}


/*--------------------------------------------------
[11. Start Page Loading]
--------------------------------------------------*/
.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../img/loader/1.gif") center no-repeat #fff;
}


/*--------------------------------------------------
[12. Start Media Query]
--------------------------------------------------*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.navbar-classic .navbar-nav .nav-item .nav-link {
		padding: 20px 0;
	}
	.btn-brand {
		margin-top: 20px;
	}
	.header-classic {
		border-bottom: 1px solid #6b7ff0 !important;
		padding: 5px;
	}
	.about {
		padding-bottom: 80px;
	}
	.about .box {
		margin-bottom: 40px;
	}
	.best {
		text-align: center;
	}
	.best .text {
		margin-bottom: 40px;
		padding: 0;
	}
	.digital {
		text-align: center;
	}
	.digital .text {
		margin-top: 40px;
		padding: 0;
	}
	.some-facts {
		padding-bottom: 80px;
	}
	.some-facts .box {
		margin-bottom: 40px;
	}
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
	.navbar-classic .navbar-nav .nav-item .nav-link {
		padding: 20px 0;
	}
	.btn-brand {
		margin-top: 20px;
	}
	.header-classic {
		border-bottom: 1px solid #6b7ff0 !important;
		padding: 5px;
	}
	.about {
		padding-bottom: 80px;
	}
	.about .box {
		margin-bottom: 40px;
	}
	.best {
		text-align: center;
	}
	.best .text {
		margin-bottom: 40px;
		padding: 0;
	}
	.digital {
		text-align: center;
	}
	.digital .text {
		margin-top: 40px;
		padding: 0;
	}
	.some-facts {
		padding-bottom: 80px;
	}
	.some-facts .box {
		margin-bottom: 40px;
	}
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
	.navbar-classic .navbar-nav .nav-item .nav-link {
		padding: 20px 0;
	}
	.btn-brand {
		margin-top: 20px;
	}
	.header-classic {
		border-bottom: 1px solid #6b7ff0 !important;
		padding: 5px;
	}
	.about .box {
		padding: 0 10px;
	}
	.best {
		text-align: center;
	}
	.best .text {
		margin-bottom: 40px;
		padding: 0;
	}
	.digital {
		text-align: center;
	}
	.digital .text {
		margin-top: 40px;
		padding: 0;
	}
}