<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <base href="{{ .Site.BaseURL }}">
    {{ partial "header.html" . }}
    <link rel="stylesheet" href="assets/app/slatekit.css">
    <title>Slate Kit</title>
</head>

<body>

    <!-- Page Loading -->
    <div class="se-pre-con"></div>

    <!-- ========== Start Navbar ========== -->
        <!-- header start -->
        <div class="header-classic fixed-top navbar-light wow fadeInDown">
            <!-- navigation start -->
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <nav class="navbar navbar-expand-lg navbar-classic">
                            <a class="navbar-brand" href="#0">
                                <img src="assets/img/saas-1/logo.png" alt=""></a>
                            <button
                                class="navbar-toggler collapsed"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbar-classic"
                                aria-controls="navbar-classic"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="icon-bar top-bar mt-0"></span>
                                <span class="icon-bar middle-bar"></span>
                                <span class="icon-bar bottom-bar"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbar-classic">
                                {{ partial "nav.html" . }}
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- navigation close -->
        </div>
        <!-- header close -->
        <!-- ========== End Navbar ========== -->

    <!-- ========== Start Slider ========== -->
    <section class="slider d-flex align-items-center">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-5">
                    <div class="text">
                        <h1 class="wow fadeInUp"><span class="sk-color-2">Slate Kit</span><br/> Open-Source <br/>Kotlin Architecture Components and Utlities</h1>
                        <p class="wow fadeInUp">A modular set of Kotlin libraries for building  scalable and comprehensive Server and Android applications</p>
                        <a href="#0" class="sk-btn-white wow fadeInUp">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="image">
                        <img src="assets/media/img/dashboard.png" alt="slider" class="img-fluid wow fadeInUp">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== End Slider ========== -->

    <!-- ========== Start Features ========== -->
    <section class="features">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 wow fadeInUp">
                    <div class="box">
                        <img src="assets/media/img/white/build.png" width="60px" alt="features" />
                        <h3>Architecture</h3>
                        <p>Pre-built architecture components for both client and server</p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp">
                    <div class="box">
                        <img src="assets/media/img/white/multitool.png" width="60px" alt="features" />
                        <h3>Utilities</h3>
                        <p>A large suite of common utilties to supplement the standard library</p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp">
                    <div class="box">
                        <img src="assets/media/img/white/cloud.png" width="60px" alt="features" />
                        <h3>Cloud</h3>
                        <p>Integration with AWS Files ( S3 ), and Queues ( SQS ) and more</p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp">
                    <div class="box">
                        <img src="assets/media/img/white/layers.png" width="60px" alt="features" />
                        <h3>Entities/ORM</h3>
                        <p>Light-weight entity framework with optional Domain-Driven style ORM</p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp">
                    <div class="box">
                        <img src="assets/media/img/white/webapi.png" width="60px" alt="features" />
                        <h3>APIs</h3>
                        <p>Build "Universal APIs" that can run on the Web, CLI or from a Queue</p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp">
                    <div class="box">
                        <img src="assets/media/img/white/task_management.png" width="60px" alt="features" />
                        <h3>Jobs</h3>
                        <p>Background Jobs / Task Queue to perform 1 off, paged, queued jobs</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== End Features ========== -->

    <!-- ========== Start About ========== -->
    <section class="about">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 wow fadeInUp">
                    <div class="image">
                        <img src="assets/media/img/people_build.png" alt="about" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp">
                    <div class="text">
                        <h2>Focus on business</h2>
                        <p>Use the components and utilities to get a solid design and architecture set up from the start for both Android and/or Server. This allows you to focus on the building out your product / service.</p>
                        <a href="#0" class="btn-color">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== End About ========== -->

    <!-- ========== Start Counter ========== -->
    <section class="counter">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 wow fadeInUp">
                    <div class="text">
                        <h2>Usage and Facts</h2>
                        <p>Over a dozen reusable architecture components and several utilities, built to provide Apps, APIs, Background Jobs, Data/Database access, integration with Cloud servies, Notifications and much more.</p>
                        <a href="#0" class="btn-color">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-6 text-center wow fadeInUp">
                    <div class="row">
                        <!-- Box -->
                        <div class="col-md-6">
                            <div class="box mb-30">
                                <h3><span class="num-1">3</span></h3>
                                <h4>Yrs. in production</h4>
                            </div>
                        </div>
                        <!-- Box -->
                        <div class="col-md-6">
                            <div class="box mb-30">
                                <h3><span class="number num-2">16</span></h3>
                                <h4>Architecture modules</h4>
                            </div>
                        </div>
                        <!-- Box -->
                        <div class="col-md-6">
                            <div class="box">
                                <h3><span class="number num-3">24</span></h3>
                                <h4>Smaller Utilities</h4>
                            </div>
                        </div>
                        <!-- Box -->
                        <div class="col-md-6">
                            <div class="box">
                                <h3><span class="number num-4">32</span></h3>
                                <h4>Releases</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ========== End Counter ========== -->

    <!-- ========== Start Do ========== -->
    <section class="do">
        <div class="container">
            <div class="heading text-center wow fadeInUp">
                <h2>Reduce costs</h2>
                <span>Building out architecture and serices can become expensive. Reduce costs by reusing code on both the Server and Android, and quickly getting your services up and running. Start with just a few small components / modules and add more when you need to. </span>
            </div>
            <div class="row">
                <div class="col-md-4 wow fadeInUp">
                    <div class="box text-center">
                        <img src="assets/media/img/white/layers.png" width="60px" alt="features" />
                        <h3>Full Stack</h3>
                        <p>Built in 100% Kotlin for JVM ( multi-platform coming later), most 
                        items are usable for Android and Server.</p>
                        <a href="#0" class="info/intro.html">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp">
                    <div class="box text-center">
                        <img src="assets/media/img/white/lightning.png" width="60px" alt="features" />
                        <h3>Templated</h3>
                        <p>Generate apps (console, server, jobs, etc) to get your services and architecture up and running quickly.</p>
                        <a href="#0" class="info/intro.html">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp">
                    <div class="box text-center">
                        <img src="assets/media/img/white/module.png" width="60px" alt="features" />
                        <h3>Modular</h3>
                        <p>A modular collection of libraries with components and utilitise. Use as little or as much as you need.</p>
                        <a href="#0" class="info/intro.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== End Do ========== -->


    <!-- ========== Start links ========== -->
    <section class="links">
        <div class="container text-center">
            <a href="#0">Twitter</a>
            <a href="#0">Github</a>
            <a href="#0">About</a>
            <a href="#0">Contact</a>
        </div>
    </section>
    <!-- ========== End links ========== -->

    <!-- ========== Start Footer ========== -->
    <footer class="footer">
        <div class="container text-center">
            <p>Made with love | Brex-Theme</p>
        </div>
    </footer>
    <!-- ========== End Footer ========== -->

    <!-- ============= Java Script =============-->
    {{ partial "footer.html" . }}
</body>

</html>