<!--=============== Footer ===============-->
<footer id="main-footer" class="main-footer">
   <div class="container text-center">

       <!-- Brand -->
       <div class="logo">
           <strong class="brand-text">Slate Kit 2</strong>
       </div>
       <!-- Description -->
       <p class="description">Connect with us on our various channels and reach out for more info.</p>

       <!-- Social Icons Menu -->
       <ul class="social list-inline">
           <li class="list-inline-item">
               <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
           </li>
           <li class="list-inline-item">
               <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
           </li>
           <li class="list-inline-item">
               <a href="#" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
           </li>
           <li class="list-inline-item">
               <a href="#" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
           </li>
       </ul>
   </div>

  <!-- Copyrights -->
   <div class="copyrights">
       <div class="container">
           <div class="row">
               <div class="col-md-6">
                   <p>&copy; 2017 <span class="text-primary">Perfo.com</span> All Rights Reserved.</p>
               </div>
               <div class="col-md-6 text-right">
                   <ul class="list-inline">
                       <li class="list-inline-item"><a href="#">FAQ</a></li>
                       <li class="list-inline-item"><a href="#">Terms Of Services</a></li>
                       <li class="list-inline-item"><a href="#">Policy &amp; Privacy</a></li>
                   </ul>
               </div>
           </div>
       </div>
   </div> <!-- End Copyrights -->
</footer>