/** HELPERS **/
.gray-bg {
    background: #f4f4f4;
}

.btn-template {
    @include gradient-secondary(to left);
    padding: 7px 40px;
    color: #fff;
    font-weight: 400;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    border: none;
    text-transform: uppercase;

    &:hover, &:focus {
        &::before {
            left: 0;
        }
        color: $orange;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        position: absolute;
        top: 0;
        left: calc(-100% - 10px);
        transition: all 0.5s;
        z-index: -1;
        background: #fff;
    }
}
.btn-template-no-border {
    @extend .btn-template-no-border;

    &:hover, &:focus {
        border-color: $orange;
    }
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #eee;
    -webkit-transform: translateY($section-padding);
        -ms-transform: translateY($section-padding);
            transform: translateY($section-padding);
}

.has-text-shadow {
    text-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
}

.has-shadow {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.has-line {
    &::after {
        content: '';
        display: block;
        width: 100px;
        height: 2px;
        background: $brand-primary;
        margin: 5px 0;
    }
}

.has-line-center {
    @extend .has-line;
    &::after {
        margin: 5px auto;
    }
}

.limited-width {
    max-width: 800px;
}

.text-primary {
    color: $brand-primary !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 20px !important;
}

.padding-top-small {
    padding-top: 100px !important;
}

.padding-bottom-small {
    padding-bottom: 100px !important;
}

.margin-top-small {
    margin-top: 100px !important;
}

.margin-bottom-small {
    margin-bottom: 100px !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 20px !important;
}

.margin-top-small {
    margin-top: 100px !important;
}

.margin-bottom-small {
    margin-bottom: 100px !important;
}

.has-gradient {
    @include gradient-main(to right);
    color: #fff;
    h1,h2,p {
        color: inherit;
    }
}

.has-bg-map {
    &::before {
        content: '';
        @include box($width: 100%, $height: 100%, $display: block);
        @include position(absolute, $top: 50%, $left: 50%);
        max-width: 1900px;
        background: url(../img/world-map.png) no-repeat;
        background-size: 80%;
        background-position: center center;
        opacity: 0.1;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .container {
        z-index: 10;
    }
}

.text-bg, .text-bg-gray {
    font-size: 11em;
    font-family: $secondary-font-family;
    font-weight: 800;
    color: #fff;
    opacity: 0.05;
    @include position(absolute, $top: 50%, $left: 50%);
    transform: translate(-50%, -50%);
    width: 2000px;
    text-align: center;
    text-transform: uppercase;
    -webkit-user-select: none;
    -webkit-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.text-bg-gray {
    color: #333;
}

.heading-bg-text {
    font-size: 2.5em;
    font-family: $secondary-font-family;
    font-weight: 800;
    color: #333;
    opacity: 0.03;
    position: absolute;
    top: -20px;
    text-transform: uppercase;
    left: 0;
    text-align: inherit;
    -webkit-user-select: none;
    -webkit-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    z-index: -1;
}
