// ===================================================================
//    COLORS
// ===================================================================
$lightblue: #4b68da;
$violet: #b06ab3;
$orange: #ff5f6d;
$lightorange: #ffc371;
$brand-primary: $violet;
$brand-secondary: $lightblue;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;
$heading-color: #333;


// ===================================================================
//    MEDIAQUERIES
// ===================================================================
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;


// ===================================================================
//    FONTS
// ===================================================================
$base-font-family: 'Poppins', sans-serf;
$secondary-font-family: 'Montserrat', sans-serf;
$heading-font-weight: 400;
$heading-font-weight-bold: 700;


// ===================================================================
//    DIMENSIONS
// ===================================================================
$section-padding: 150px;
