## Request 

### Definition
```kotlin
  /**
   * Represents an abstraction of a Web Api Request and also a CLI ( Command Line ) request
   * @param path      : route(endpoint) e.g. /{area}/{name}/{action} e.g. /app/reg/activateUser
   * @param parts     : list of the parts of the action e.g. [ "app", "reg", "activateUser" ]
   * @param area      : action represented by route e.g. app in "app.reg.activateUser"
   * @param name      : name represented by route   e.g. reg in "app.reg.activateUser"
   * @param action    : action represented by route e.g. activateUser in "app.reg.activateUser"
   * @param verb      : get / post ( similar to http verb )
   * @param opts      : options representing settings/configurations ( similar to http-headers )
   * @param args      : arguments to the command
   * @param raw       : Optional raw request ( Spark HttpRequest or ShellCommmand via CLI )
   * @param tag       : Optional tag for tracking individual requests and for error logging.
   */
  data class Request (
                       val path       :String              ,
                       val parts      :List<String>        ,
                       val area       :String              ,
                       val name       :String              ,
                       val action     :String              ,
                       val verb       :String              ,
                       val args       :Inputs?             ,
                       val opts       :Inputs?             ,
                       val raw        :Any?          = null,
                       val tag        :String        = ""
                   )
{
    // ...
}				   
```

### Example 
```kotlin 
  // The request can be built to represent requests from different sources
  // 1. http: http://abc.com/api/app/users/activate { post data }
  // 2. cli : app.users.activate -userId=5001 
  val request = Request(
      path   = "app.users.activate",
      parts  = listOf("app", "users", "activate"),
      area   = "app",
      name   = "users",
      action = "activate",
      verb   = "post",
      opts   = InputArgs(mapOf("api-key" to "ABC-123")),
      args   = InputArgs(mapOf("userId" to 5001)),
      raw    = "the raw HTTP SparkJava request or CLI ShellCommand",
      tag    = Random.stringGuid()
  )

```


## Result 

### Definition
```kotlin 
  interface Result<out T> : ResultChecks {
      val success: Boolean
      val code: Int
      val value: T?
      val msg: String?
      val err: Exception?
      val tag: String?
      val ref: Any? 
	  
	  // ...
  }	  
```

### Example
```kotlin 
  // Build a result using the Success "branch" of Result
  val result1 = Success(
      data = "userId:1234567890",
      code = SUCCESS,
      msg = "user created",
      tag = "tag001",
      ref = "XY123"
  )

  // Build a result using the Failure "branch" of Result
  val result2 = Failure<String>(
      code = BAD_REQUEST,
      msg = "user id not supplied",
      tag = "tag001",
      err = IllegalArgumentException("user id"),
      ref = null
  )
  
  // CASE 1: Success ( 200 )
  val res1 = success(123456, msg = "user created", tag = "promoCode:ny001")
  printResult(res1)  
  
  // CASE 2: Failure ( 400 ) with message and ref tag
  val res2a = failure<String>(msg = "invalid email", tag = "23SKASDF23")
  printResult(res2a) 
  
  // CASE 3: Unauthorized ( 401 )
  val res3 = unAuthorized<String>(msg = "invalid email")
  printResult(res3)  
  
  // CASE 4: Unexpected ( 500 )
  val res4 = unexpectedError<String>(msg = "invalid email")
  printResult(res4)  
  
  // CASE 5: Conflict ( 409 )
  val res5 = conflict<String>(msg = "item already exists")
  printResult(res5)
```


## Env

### Definition 
```kotlin 
  /**
   * Represents a system environment
   * @param name   : e.g. Quality Assurance
   * @param mode   : e.g. Qa
   * @param region : new york
   * @param desc   : Qa environment 1 in new york
   */
  data class Env(val name: String,
                 val mode: EnvMode,
                 val region: String = "",
                 val desc: String = "") : EnvSupport {
  
      /**
       * qa1:qa
       * @return
       */
      val key: String get() = name + ":" + mode.name
  
      // ...
  }

```

### Example 
```kotlin
  /**
   * The list of defaults environments to choose from.
   * An environment definition is defined by its name, mode
   * The key is built up from name and mode as {name}.{mode}
   * e.g. "qa1.QA"
   *
   * Each of these environments should map to an associated env.{name}.conf
   * config file in the /resources/ directory. But there is no dependency
   * on this Env component to a Config component
   *
   * e.g.
   * /resources/env.conf     ( common      config )
   * /resources/env.loc.conf ( local       config )
   * /resources/env.dev.conf ( development config )
   * /resources/env.qa1.conf ( qa1         config )
   * /resources/env.qa2.conf ( qa2         config )
   * /resources/env.stg.conf ( staging     config )
   * /resources/env.pro.conf ( production  config )
   *
   * @return
   */
  fun defaults(): Envs =
      Envs( listOf(
          Env("loc", Dev , desc = "Dev environment (local)"),
          Env("dev", Dev , desc = "Dev environment (shared)"),
          Env("qa1", Qa  , desc = "QA environment  (current release)"),
          Env("qa2", Qa  , desc = "QA environment  (last release)"),
          Env("stg", Uat , desc = "STG environment (demo)"),
          Env("pro", Prod, desc = "LIVE environment")
      ))
```

## Context 

### Definition 
```kotlin 

  /**
    *
    * @param arg  : command line arguments
    * @param env  : environment selection ( dev, qa, staging, prod )
    * @param cfg  : config settings
    * @param log  : logger
    * @param ent  : entity/orm registration server to get entity services/repositories
    * @param inf  : info only about the currently running application
    * @param host : host computer info
    * @param lang : lang runtime info
    * @param dbs  : db connection strings lookup
    * @param enc  : encryption/decryption service
    * @param dirs : directories used for the app
    * @param subs : substitutions( variables ) for the app
    * @param res  : translated resource strings ( i18n )
    * @param tnt   : tenant info ( if running in multi-tenant mode - not officially supported )
    */
  data class AppContext(
                        val arg  : Args                                ,
                        val env  : Env                                 ,
                        val cfg  : ConfigBase                          ,
                        val log  : LoggerBase                          ,
                        val ent  : Entities                            ,
                        val inf  : About                               ,
                        val host : Host                = Host.local()  ,
                        val lang : Lang                = Lang.kotlin() ,
                        val dbs  : DbLookup?           = null          ,
                        val enc  : Encryptor?          = null          ,
                        val dirs : Folders?            = null          ,
                        val state: Result<Boolean>     = Result.none
  )
  {
      // ...
  }
```

### Example
```kotlin
  AppContext(
      arg = Args.default(),
      env = Env("local", Dev),
      cfg = Config(),
      log = LoggerConsole(),
      ent = Entities(),
      inf = About("myapp", "App1", "Sample app", "Company1, "", "", "", "", "", "", ""),
      host = Host.local(),
      lang = Lang.kotlin(),
      enc = Encryptor("wejklhviuxywehjk", "3214maslkdf03292"),
      dirs = Folders.userDir("slatekit", "apps", "sample1")
  )
```


{% highlight ruby %}
def foo
  puts 'foo'
end
{% endhighlight %}


{% highlight kotlin %}
fun add(a:Int):Int {
  println("test add")
  return a + 1
}
{% endhighlight %}


```kotlin
data class Something(val name:String, 
                     val pInt:Int,
                     val pLong:Long,
                     val pDoub:Double,
                     val pBool:Boolean,
                     val pDate:DateTime)
				
/**
 *
 * @param arg  : command line arguments
 * @param env  : environment selection ( dev, qa, staging, prod )
*/ 		
fun add123(a:Int):Int {
  println("test add")
  val items = listOf(1,2,3)
  println( items[0] )
  // comment here 
  return a + 1 - 2 * 3 / 4
}
```
