<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}{FATAL=magenta, ERROR=red, WARN=yellow, INFO=blue, DEBUG=cyan, TRACE=green}" />
        </Console>
        <File name="FileLog" fileName="/Users/kishorereddy/git/slatekit/test/app.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="MainLog" fileName="/Users/kishorereddy/git/slatekit/test/main.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="ApiLog" fileName="/Users/kishorereddy/git/slatekit/test/api.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="DbLog" fileName="/Users/kishorereddy/git/slatekit/test/db.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLog"/>
        </Root>
        <Logger name="api" level="warn" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLog"/>
        </Logger>
        <Logger name="db" level="error" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLog"/>
        </Logger>
        <Logger name="emails" level="warn" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLog"/>
        </Logger>
        <Logger name="sms" level="warn" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLog"/>
        </Logger>
        <Logger name="mobile" level="warn" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLog"/>
        </Logger>
    </Loggers>
</Configuration>
