<p>
Philosophy, design goals, approaches and standards
</p>
<table class="table table-bordered table-striped">
    <tbody><tr>
      <td ><strong>Tech</strong></td>
      <td>Built in Kotlin, for the JVM ( multi-platform coming later), and designed to be reusable for both Client ( Android ) and Server (Backend/APIs/Services).</td>
    </tr>
    <tr>
      <td><strong>Design</strong></td>
      <td>Library based approach instead of a "Framework". Broken into several modules so you can pick as little or as much as you want.
      </td>
    </tr>
    <tr>
      <td><strong>Standards</strong></td>
      <td>Check our <a class="url-ch" href="more/standards">coding standards</a></td>
    </tr>
    <tr>
      <td><strong>Approach</strong></td>
      <td><strong>Simplicity</strong> and <strong>Practicality</strong> above all else</td>
    </tr>
    <tr>
      <td><strong>Components</strong></td>
      <td>Composable, single-purpose components as building blocks. Organized into various projects.
      </td>
    </tr>
    <tr>
      <td><strong>Portable</strong></td>
      <td>Designed for reasonably low vendor lock-in via a "library" based approach.</td>
    </tr>
    <tr>
      <td><strong>Minimal</strong></td>
      <td>Dependencies on external, 3rd-party libraries are kept to a minimum. Json Simple, OkHttp( for Http client ), Logback( Optional ), Micrometer ( Optional )</td>
    </tr>
    <tr>
      <td><strong>License</strong></td>
      <td>Apache 2.0 for most components. The <strong>API, Jobs</strong> component will have a dual Apache 2.0 / AGPL license.</td>
    </tr>
    <tr>
      <td><strong>Style</strong></td>
      <td>Emphasis on <strong>immutability</strong> 
        and <strong>pragmatic functional programming</strong> as much as possible.
        <br>However, this is <strong>NOT</strong> a 100% purely functional code base, and there is <strong>NO</strong> category theory.
        </td>
    </tr>
  </tbody>
</table>