/* ----------------------------------

Name: main.css
Version: 1.0

-------------------------------------

Table of contents
        
    01. Navbar
    02. Slider
    03. About
    04. Features
    05. Remember
    06. Creative
    07. Price
    08. Testimonals
    09. Links
    10. Footer
	11. Loading
	12. Media Query
    
*/

body {
	font-family: 'Dosis', sans-serif;
	height: 3000px;

}
@font-face {
	font-family: 'MobiriseIcons';
	src:  url('../fonts/Mobirise.eot?5dqoim');
	src:  url('../fonts/Mobirise.eot?5dqoim#iefix') format('embedded-opentype'),
	  url('../fonts/Mobirise.ttf?5dqoim') format('truetype'),
	  url('../fonts/Mobirise.woff?5dqoim') format('woff'),
	  url('../fonts/Mobirise.svg?5dqoim#MobiriseIcons') format('svg');
	font-weight: normal;
	font-style: normal;
  }

/*--------------------------------------------------
[1. Start Navbar]
--------------------------------------------------*/
/*--- btn default --*/
.btn-brand {
	background: #6badf8;
	border-radius: 35px;
	padding: 10px 40px;
	color: #ffffff;
	font-weight: 600;
	font-size: 16px;
	transition: all .3s ease-in-out;
}

.btn-brand:hover {
	color: #6badf8;
	background-color: transparent;
	border-color: #6badf8;
}

.btn-brand.focus,
.btn-brand:focus {
	color: #fff;
	background-color: #6badf8;
	border-color: #6badf8;
	box-shadow: none;
}

/*----------------- Headers ---------------------------------*/
.header-classic {
	transition: all .3s ease-in-out;
	background: #fbfafa;
}

.navbar-classic .navbar-nav .nav-item .nav-link {
	font-size: 16px;
	font-weight: 500;
	color: #5a5e74;
	padding: 12px 20px;
	line-height: 20px;
	transition: ALL .4S ease-in-out;
}

.navbar-classic .navbar-nav .nav-item .nav-link:hover.dropdown-toggle::after {
	color: #9d9ea3;
}

.navbar-classic.navbar {
	padding: 18px 0px;
}

.navbar-classic .dropdown-toggle::after {
	margin-top: 1px;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 6px;
	vertical-align: -2px;
	content: "\f107";
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	color: #7b7f94;
	font-family: 'Font Awesome\ 5 Free';
	font-weight: 900;
	margin-right: 15px;
	font-size: 13px;
}

.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-item {
	border-bottom: 1px solid #b6b7b8;
	border-radius: 0px;
}

a.navbar-brand {
	display: inline-block;
	margin-right: initial;
	line-height: inherit;
	white-space: nowrap;
	color: #6e6e78;
	font-size: 24px;
	padding: 0;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 16rem;
	padding: 12px;
	margin: 18px 0px;
	font-size: 1rem;
	color: #9495a5;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 2px;
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.05);
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 15px 15px;
	clear: both;
	font-weight: 500;
	color: #6e6e78;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-size: 16px;
	line-height: 15px;
	transition: all .3s ease-in-out;
}

.dropdown-item:focus,
.dropdown-item:hover {
	text-decoration: none;
	background-color: #ffff;
	border-radius: 4px;
}

.dropdown-item:focus .dropdown-toggle::after,
.dropdown-item:hover.dropdown-toggle::after {
	color: #5a5e74;
}

@media(min-width:992px) {
	.dropdown .dropdown-menu {
		display: block;
		visibility: hidden;
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
		-webkit-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in
	}

	.dropdown:hover>.dropdown-menu {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}

	.dropdown-submenu:hover .dropdown-menu {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;
	}
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 17px;
	top: 25px;
}

.dropdown-submenu .dropdown-menu {
	top: 0px;
	left: 100%;
	margin-left: 13px;
	margin-right: .1rem;
}

.caret-up {
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid;
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
}

.mega-dropdown {
	position: unset;
}

.mega-dropdown-menu {
	width: 100%;
	position: absolute;
	top: 63px;
	margin: 15px 0px;
}

.mega-dropdown-menu ul {
	list-style: none;
}

.nav-dropitem-arrow {
	position: relative;
	font-size: 12px;
	opacity: 0;
	padding-right: 10px;
}

.nav-dropitem-arrow i {
	position: absolute;
	/* top: -1px;
	*/
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: #6badf8;
	text-decoration: none;
	background-color: #ffff;
	border-radius: 4px;
}

.dropdown-item:hover .nav-dropitem-arrow {
	color: #6badf8;
	opacity: 1;
	margin-right: 5px;
}

.navbar-classic .navbar-toggler,
.navbar-boxed .navbar-toggler {
	padding: 17px 15px;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid #5a5e74;
	border-radius: .25rem;
	position: relative;
}

/* mobile menu css */
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}

.navbar-classic .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #bababb;
}

.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}

.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}

.navbar-boxed .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #dbdbdb;
}

.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}

.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu {
	background: #fff;
	box-shadow: none;
	margin: 7px 0px;
}

.navbar-transparent .navbar-collapse.show .navbar-nav .nav-item .nav-link {
	border-bottom: 1px solid #c5c5c5;
}

.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6;
}

.icon-bar {
	width: 21px;
	height: 3px;
	background-color: #848694;
	display: block;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler:focus {
	outline: 0px;
}

.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 190%;
	background-color: #848694;
}

.navbar-toggler .middle-bar {
	opacity: 0;
}

.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% -80%;
	background-color: #848694;
}

.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
	background-color: #848694;
}

.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
	background-color: #848694;
}

.navbar-classic .navbar-toggler,
.navbar-boxed .navbar-toggler {
	border: 1px solid #8e91a3;
}


/*--------------------------------------------------
[2. Start Slider]
--------------------------------------------------*/
.slider {
	height: 100vh;
	background: #fbfafa;
}

.slider .text h1 {
	font-size: 50px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 20px;
}

.slider .text .color-1 {
	color: #558ee9 !important;
}

.slider .text .color-2 {
	color: #f8a13e !important;
}

.slider .text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

.slider .text .btn-green {
	border-radius: 35px;
	border: solid 1px #0acf8b;
	background: #0acf8b;
	color: #ffffff;
	text-decoration: none;
	padding: 12px 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 30px;
	opacity: .9;
	transition: all .4s ease-in-out;
}

.slider .text .btn-green:hover {
	border: solid 1px #5a5e74;
	color: #5a5e74;
	background: transparent;
}

/*--------------------------------------------------
[3. Start About]
--------------------------------------------------*/
.about {
	padding: 120px 0;
}

.about .box {
	padding: 40px 30px;
	background: #ffffff;
	box-shadow: 1px 9px 20px 0px rgba(0, 0, 0, 0.1);
}

.about .box img {
	display: inline-block;
	width: 80px;
	margin-bottom: 15px;
}

.about h3 {
	font-size: 22px;
	font-weight: 600;
	margin: 0;
	margin-top: 15px;
	color: #4f5261;
}

.about p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
	margin-top: 15px;
}


/*--------------------------------------------------
[4. Start Features]
--------------------------------------------------*/
.features {
	padding: 120px 0 90px 0;
	background: #fbfafa;
}

.features .heading {
	margin-bottom: 50px;
}

.features .heading h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 10px;
}

.features .heading p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

.features .box {
	background: #ffffff;
	border: 1px solid #f1f2f3;
	padding: 40px;
	margin-bottom: 30px;
	transition: all .4s ease-in-out;
}

.features .box:hover {
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.06);
}

.features .box span {
	font-size: 40px;
	color: #9a999c;
	display: inline-block;
}

.features .box h3 {
	font-size: 18px;
	color: #797c8f;
	margin: 0;
	margin-top: 15px;
}

.features .image {
	margin-bottom: 40px;
}

/*--------------------------------------------------
[5. Start Remember]
--------------------------------------------------*/
.remember {
	padding: 120px 0;
}

.remember .text h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 20px;
}

.remember .text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

/*--------------------------------------------------
[6. Start Creative]
--------------------------------------------------*/
.creative {
	padding: 120px 0;
	background: #f8f9f9;
}

.creative .text h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 20px;
}

.creative .text p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

/*--------------------------------------------------
[7. Start Price]
--------------------------------------------------*/
.price {
	padding: 120px 0;
}

.price .heading {
	margin-bottom: 50px;
}

.price .heading h2 {
	font-size: 30px;
	font-weight: 600;
	color: #5a5e74;
	margin: 0;
	margin-bottom: 10px;
}

.price .heading p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
}

.price .box {
	background: #ffffff;
	box-shadow: 1px 9px 20px 0px rgba(0, 0, 0, 0.1);
}

.price .box span {
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin: 0;
	color: #8b8fa1;
}

.price .box .head h3 {
	font-size: 60px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #5a5e74;
	margin-bottom: 5px;
}

.price .box .head h4 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	color: #a4a8b8;
}

.price .box .head {
	border-bottom: 1px solid #eeeeee;
	padding: 25px 0;
}

.price .box ul {
	margin: 0;
	padding: 0;
	padding: 30px 0;
}

.price .box ul li {
	list-style: none;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 0;
	color: #71758a;
}

.price .box .footer a {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.price .box .color-1 {
	background: #6badf8 !important;
}

.price .box .color-2 {
	background: #f3575e !important;
}

.price .box .color-3 {
	background: #eeb54c !important;
}

/*--------------------------------------------------
[8. Start Testimonals]
--------------------------------------------------*/
.testimonials {
	padding: 90px 0;
	background: #f8f9f9;
}

.testimonials .box {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
	padding: 40px;
	margin: 20px;
	border-radius: 5px;
	text-align: center;
	background: #ffffff;
}

.testimonials .box .stars i {
	font-size: 13px;
	color: #fcc651;
}

.testimonials .box p {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	color: #797c8f;
	opacity: .85;
	margin-bottom: 0;
	margin-top: 10px;
	margin-bottom: 15px;
}

.testimonials .box h2 {
	font-size: 18px;
	font-weight: 500;
	color: #5a5e74;
	margin: 0;
}

.testimonials .box span {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 27px;
	color: #9295a5;
	opacity: .85;
	margin-bottom: 0;
}

/*--------------------------------------------------
[9. Start Links]
--------------------------------------------------*/
.links {
	padding: 20px 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.links .nav a {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #797c8f;
	display: inline-block;
	margin-right: 20px;
	text-decoration: none;
	transition: all .4s ease-in-out;
}

.links .nav a:hover {
	color: #168af0;
}

.links .social a {
	font-size: 16px;
	color: #797c8f;
	display: inline-block;
	margin-left: 15px;
	text-decoration: none;
	transition: all .4s ease-in-out;
}

.links .social a:hover {
	color: #168af0;
}


/*--------------------------------------------------
[10. Start Footer]
--------------------------------------------------*/
.footer {
	background: #f8f9f9;
	padding: 20px;
}

.footer p {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	color: #797c8f;
}


/*--------------------------------------------------
[11. Start Page Loading]
--------------------------------------------------*/
.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.se-pre-con {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../img/loader/1.gif") center no-repeat #fff;
}


/*--------------------------------------------------
[12. Start Media Query]
--------------------------------------------------*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.navbar-classic .navbar-nav .nav-item .nav-link {
		padding: 20px 0;
	}

	.btn-brand {
		margin-top: 20px;
	}

	.header-classic {
		border-bottom: 1px solid #e0e0e0 !important;
		padding: 5px;
	}

	.slider {
		text-align: center;
		height: 1000px;
		padding-top: 70px;
	}

	.slider .text {
		margin-bottom: 40px;
	}

	.about {
		padding-bottom: 90px;
	}

	.about .box {
		margin-bottom: 30px;
	}

	.remember {
		text-align: center;
	}

	.remember .text {
		margin-top: 40px;
	}

	.creative {
		text-align: center;
	}

	.creative .text {
		margin-bottom: 40px;
	}

	.price {
		padding-bottom: 90px;
	}

	.price .box {
		margin-bottom: 30px;
	}
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
	.navbar-classic .navbar-nav .nav-item .nav-link {
		padding: 20px 0;
	}

	.btn-brand {
		margin-top: 20px;
	}

	.header-classic {
		border-bottom: 1px solid #e0e0e0 !important;
		padding: 5px;
	}

	.slider {
		text-align: center;
		height: 1000px;
		padding-top: 70px;
	}

	.slider .text {
		margin-bottom: 40px;
	}

	.about {
		padding-bottom: 90px;
	}

	.about .box {
		margin-bottom: 30px;
	}

	.remember {
		text-align: center;
	}

	.remember .text {
		margin-top: 40px;
	}

	.creative {
		text-align: center;
	}

	.creative .text {
		margin-bottom: 40px;
	}

	.price {
		padding-bottom: 90px;
	}

	.price .box {
		margin-bottom: 30px;
	}
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
	.navbar-classic .navbar-nav .nav-item .nav-link {
		padding: 20px 0;
	}

	.btn-brand {
		margin-top: 20px;
	}

	.header-classic {
		border-bottom: 1px solid #e0e0e0 !important;
		padding: 5px;
	}

	.slider {
		text-align: center;
		height: 1000px;
		padding-top: 70px;
	}

	.slider .text {
		margin-bottom: 40px;
	}

	.remember {
		text-align: center;
	}

	.remember .text {
		margin-top: 40px;
	}

	.creative {
		text-align: center;
	}

	.creative .text {
		margin-bottom: 40px;
	}
}